h1 {
    color: rgb(87, 87, 201);
    text-align: center;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.div1, .div2, .div3 {
    width: 5vw;
    height: 5vh; /* Cambié "width" a "height" para los divs 1, 2 y 3 */
    background: rgb(28, 16, 136);
    position: absolute;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.div4 {
    width: 10vw;
    height: 10vh; /* Cambié "width" a "height" para el div 4 */
    background: rgb(28, 16, 136);
    position: absolute;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    border-radius: 50%;
}

.div1 {
    animation-name: mymove;
    animation-delay: 0s;
}

.div2 {
    animation-name: mymove;
    animation-delay: 1s;
}

.div3 {
    animation-name: mymove;
    animation-delay: 2s;
}

.div4 {
    animation-name: mymove;
    animation-delay: 3s; /* Cambié el selector a ".div4" */
}

@keyframes mymove {
    0%, 100% {
        left: 0vw;
        top: 0vh;
    }
    25% {
        left: 95vw;
        top: 90vh;
    }
    50% {
        left: 95vw;
        top: 0vh;
    }
    75% {
        left: 0vw;
        top: 90vh;
    }
}
